.picture {
  height: 300px;
}

/* Flexbox solution */
/* .wrapper {
  height: 500px;
  width: 700px;
  background-color: #eee;
}

.header {
  border: 1px solid black;
  height: 20%;
}

.mainContainer {
  border: 1px solid black;
  height: 60%;
  display: flex;
}
.mainContainerBorder {
  border: 1px solid black;
  width: 20%;
}
.mainContainerContent {
  border: 1px solid black;
  width: 60%;
}

.footer {
  border: 1px solid black;
  height: 20%;
} */

/* Grid solution */
.wrapper {
  height: 500px;
  width: 700px;
  background-color: #eee;
  display: grid;
  grid-template-columns: 150px 1fr 150px;
  grid-template-rows: 100px 1fr 100px;
  grid-template-areas:
    "header header header"
    "nav section aside"
    "footer footer footer";
}

.header {
  border: 1px solid black;
  grid-area: header;
}

.nav {
  border: 1px solid black;
  grid-area: nav;
}
.section {
  border: 1px solid black;
  grid-area: section;
}
.aside {
  border: 1px solid black;
  grid-area: aside;
}

.footer {
  border: 1px solid black;
  grid-area: footer;
}
